.form {
  margin-bottom: 20px;
  margin-top: 10px;
}

.btn-primary {
  margin-top: 5px;
}

.form-group {
  margin-bottom: 2px;
}

body {
  background: rgb(1, 15, 29);
  background: linear-gradient(
    90deg,
    rgba(1, 15, 29, 1) 30%,
    rgba(3, 63, 90, 1) 70%,
    rgba(7, 145, 146, 1) 100%
  );
  color: white;
  margin-left: 25px;
  overflow-x: hidden;
}
